@charset "utf-8";
/* CSS Document */
.mainbody{
	
	float:left;
	display:block;
	width:71.5%;
	margin-top:5px;
	border-radius:5px;
	background-color:#FCFCFC;
	margin-bottom:10px;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
h4{
	margin-left:5px;
	color:#173e43;	
}
input[type=submit]{
	margin-left:50px;
}
h1{
	color:white;
}






